:root {
  --primary: #dd571c;
  --bg: #ffffff;
  --border: 1rem solid rgba(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Libre Baskerville", sans-serif;
  background-color: var(--bg);
  color: #010101;
  opacity: 1;
}

section {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid var white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #010101;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #010101;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: " ";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: black;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#wisata-menu {
  display: none;
}

/* Header Section */
.content {
  animation: fadeIn 5s;
  gap: 3;
}

.header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  animation: fade-in 1.5s ease, slide-in 1.2s ease;
  -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.header .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.header .content h1 {
  font-size: 3em;
  color: #000;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
  line-height: 1.2;
  margin-bottom: 25px;
}

.header .content h1 span {
  color: var(--primary);
}

.header .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.2;
  font-weight: 25;
  color: #000;
  margin-bottom: 50px;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

.header .content .cta {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #000;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin-bottom: 100px;
}

.header .content .cta:hover {
  background-color: #a04924;
}

/* About Section */
.about,
.menu,
.contact,
.kami {
  padding: 6rem 7% 1.4rem;
  animation: fadeIn 5s;
  min-height: 100vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about h2,
.menu h1,
.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.about h2 span,
.menu h1 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 1rem 0;
  font-weight: 100;
  line-height: 1.5;
}

.about-img img {
  border-radius: 50px;
}

/* Menu Section */
.menu h2,
.menu h1,
.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.menu h2 span,
.menu h1 span,
.contact h2 span {
  color: var(--primary);
}

.subpage4 {
  margin: 0 10px;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: white;
}

.space {
  padding: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card2 {
  padding: 25px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arrival {
  display: flex;
  flex-direction: row;
  width: 540px;
  height: 250px;
  background-color: white;
  box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  text-align: left;
  align-items: center;
  padding: 0;
  border-radius: 30px;
}

.arrivalline {
  border-top: 0.5px solid;
  width: 200px;
}

.arrItem1 {
  width: 260px;
  height: 220px;
  padding: 20px 40px;
  align-items: center;
  cursor: pointer;
}

.arrivalname {
  font-size: 20px;
  font-weight: 700;
  width: 180px;
  line-height: 24px;
}

.arrivalcontent {
  padding: 10px 0;
}

.arrivaltext {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: rgba(30, 30, 30, 0.5);
  width: 250px;
  margin-top: 10px;
}

.selengkapnya {
  padding: 8px 20px;
  font-size: 12px;
  border: none;
  width: fit-content;
  font-family: var(--font-poppins);
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fcf9f9;
  cursor: pointer;
  transition: all 0.5s ease;
  background: #dd571c;
  margin-top: 75px;
}

.selengkapnya:hover {
  background: #a04924;
}

.viewAllBtn {
  text-align: center;
  padding: 10px 0;
}

.viewall {
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  text-align: center;
  width: fit-content;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #dd571c;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.viewall:hover {
  background-color: #a04924;
}

/* tentang-kami Section */
.about,
.menu,
.kami,
.contact {
  padding: 6rem 7% 1.4rem;
  animation: fadeIn 5s;
  min-height: 100vh;
}

.kami h2,
.menu h1,
.contact h2 {
  text-align: center;
  font-size: 2.5rem;
}

.kami h2 span {
  color: var(--primary);
}

.kami .row {
  display: flex;
}

.kami .row .about-img {
  flex: 1 1 15rem;
}

.kami .row .about-img img {
  width: 100%;
}

.kami .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.kami .row .content p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 1rem 0;
  font-weight: 100;
  line-height: 1.5;
}

/* Contact Section */

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #fff;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
  width: 100%;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: #010101;
}

footer .links a {
  margin-top: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
  margin-top: 2rem;
}

footer .credit a {
  color: #0c0c0c;
  font-weight: 700;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

.subpage4 {
  margin: 0 10px;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: white;
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #wisata-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var (var(--primary));
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX (0.2s);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .subpage4 {
    flex-direction: column;
    align-items: center;
  }

  .arrival {
    width: 100%;
    margin-bottom: 20px;
  }

  .arrItem1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

.kirim {
  border-radius: 10px;
}

.kirim :hover {
  color: #010101;
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

.space {
  padding: 20px;
}

.arrival {
  width: 100%;
  margin-bottom: 20px;
}

.arrItem1 {
  width: 100%;
}
