body {
    font-family: Arial, sans-serif;
    background: #f4f4f7;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding-top: 8%;
}

h1 {
    text-align: center;
    margin-bottom:3%;
}

.sub {
    text-align: center;
    margin-bottom: 20px;
}

.form-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1px solid #e0e0e0;
}

.container h2 {
  margin-top: 3%;
}

label {
    margin-top: 10px;
    display: block;
}

select.placeholder {
    color: #999;
}

select.placeholder option {
    color: #000;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #FF9800;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #FB8C00;
}

.hasil {
    margin-top: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1px solid #e0e0e0;
}

.body {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.body h3 {
  margin: 0 0 4px 0;             
  font-size: 18px;
}

.card img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    margin-top: 12px; 
    border-radius: 12px;
}

.desc-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 10px;
}

.tag-desc {
    background: #f3f3ff;
    padding: 5px 12px;
    border-radius: 50px;
    font-size: 12px;
    color: #4c5bd4;
    border: 1px solid #dcdcff;
    white-space: nowrap;
}

.meta-top {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
}

.tag-type, .tag-price, .tag-suasana, .tag-score {
    background: #eef3ff;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 12px;
    border: 1px solid #dcdcff;
    color: #4c6ae4;
}

.type-tags {
  display: flex;
  gap: 8px;         
}

.tag-score {
    margin-left: auto;
    color: #777;
    background: #fafafa;
    border: 1px solid #666666;
}

.more-btn {
  display: block;            
  margin: 10px auto 0 auto;  
  padding: 5px 12px;         
  font-size: 13px;          
  background: #FF9800;       
  color: white;
  text-decoration: none; 
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: max-content;       
  transform: translateX(-50px);
}

.more-btn:hover {
  background: #FB8C00;  
}